* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 45px;
    background-color: rgb(219, 217, 217);
    top: 0px;
}


.header .icon {
    width: 20px;
}

.header .contain {
    display: flex;
}

table {
    border-collapse: collapse;
}

table .wall {
    background-image: url("../img/hard-wall.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

table .empty {
    background-color: green;
}

table td {
    width: 40px;
    height: 40px;
    text-align: center;
}

table .box {
    background-image: url("../img/box.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#boardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boardContainer .player {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 0px;
    left: 0px;
}

.popup {
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
    width: 400px;
    height: 200px;
    background-color: rgb(219, 217, 217);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: green;
    z-index: 100;
}

.messages {
    position: absolute;
    height: 100vh;
    width: 70vw;
    background-color: rgb(159, 159, 182);
    z-index: 2;
    flex-direction: column;
    align-items: center;
    display: none;
}

.messages .title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: red;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.create {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    bottom: 0px;
    border-top: solid black 2px;
    z-index: 3;
}

.create input {
    width: 85%;
    height: 50px;
    text-align: center;
}


.create .send {
    width: 30px;
    height: 30px;
    text-align: center;
    top: 0px;
    left: 0px;
}

.create .chat-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    top: 0px;
    left: 0px;
}

.flyMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    height: 50px;
    width: 100vw;
}