* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 45px;
    background-color: rgb(219, 217, 217);
}

.header .contain {
    display: flex;
}

table {
    border-collapse: collapse;
}

.wall {
    background-image: url("../img/hard-wall.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.empty {
    background-color: green;
}

#boardContainer {
    position: relative;
    top: calc(50vh - 300px);
    left: calc(50vw - 480px);
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
}

.player {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 0px;
    left: 0px;
}

.box {
    background-image: url("../img/box.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.popup {
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
    width: 400px;
    height: 200px;
    background-color: rgb(219, 217, 217);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: green;
    z-index: 100;
}

.icon {
    width: 20px;
}